@import "tailwindcss";

@theme {
  --color-background: #0b0e14;
  --color-offwhite: #f5f5f5;
  --color-highlight-dark: #1f2937;
  --color-highlight-light: #9ca3af;
}

* {
  @apply box-border font-mono;
}

html,
body {
  @apply min-h-screen w-screen;
}

body {
  @apply bg-background text-offwhite flex justify-center items-center flex-col p-4 gap-4;
}
